body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #012056;
}

#stage-selection, #game {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 2%;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5%;
}

button, .button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover, .button:hover {
  background-color: #0056b3;
}

.attempt-row, .input-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.letter-input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.correct {
  background-color: green;
  color: white;
}

.partial {
  background-color: orange;
  color: white;
}

.wrong {
  background-color: transparent;
  color: white;
}

.gameover {
    background-color: #d90037 !important;
    color: white !important;
}

.submit-btn {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #218838;
}


.modal {
  display: none; /* Başlangıçta gizli */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

button#new-game-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button#new-game-button:hover {
  background-color: #45a049;
}



input.letter-input-org {
    width: min-content;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

button.bolum {
  height:15vh;
  width: 45vw;
  text-transform: uppercase;
  font-weight: bold;
  background-color: orange;
}

div#settings {
    padding: 1%;
    color: white;
}
#settings>.row {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    padding: 1% 0%;
}
#settings>.row>label {
    margin-right: 3%;
    font-size: larger;
}


.bgyellow {
    background: yellow;
    padding: 5px;
    line-height: 2;
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: black;
}
.frekans {
    font-size: small;
}
.cblack {
    color: black;
}

